!data/
data/*
!/data/.gitkeep

/data/Expt1.YYYY-MM-DD/*
!/data/Expt1.YYYY-MM-DD/
!/data/Expt1.YYYY-MM-DD/.gitkeep

/data/Expt1.YYYY-MM-DD/raw_data/*
!/data/Expt1.YYYY-MM-DD/raw_data/
!/data/Expt1.YYYY-MM-DD/raw_data/.gitkeep

/data/Expt1.YYYY-MM-DD/analysis/*
!/data/Expt1.YYYY-MM-DD/analysis/
!/data/Expt1.YYYY-MM-DD/analysis/.gitkeep
!/data/Expt1.YYYY-MM-DD/analysis/data_paths.txt

manuscript/manuscript.log
manuscript/manuscript.blg
manuscript/manuscript.aux
manuscript/acs-manuscript.bib
manuscript/suppinfo.log
manuscript/suppinfo.blg
manuscript/suppinfo.aux
manuscript/acs-suppinfo.bib

*.swp
.DS_Store
